<header class="header">
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem site-title">Professional Portfolio</li>
      <li class="navitem navlink {{active_home}}"><a href="/nav/home">Home</a></li>
      <li class="navitem navlink {{active_projects}}"><a href="/nav/projects">Projects</a></li>
      <li class="navitem navlink {{active_resume}}"><a href="/nav/resume">Resume</a></li>
      <!-- <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li> -->
    </ul>
  </nav>

  <div id="my_picture_container">
    <img id="my_picture" src="/photos/headerpicnew2.png">
  </div>
</header>
