<header class="header">
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem site-title">Rey Pocius</li>
      <li class="navitem navlink {{active_home}}"><a href="/nav/home">Home</a></li>
      <li class="navitem navlink {{active_projects}}"><a href="/nav/projects">Projects</a></li>
      <li class="navitem navlink {{active_resume}}"><a href="/nav/resume">Resume</a></li>
    </ul>
  </nav>

  <div id="my_picture_container">
    <img id="my_picture" src="http://research.engr.oregonstate.edu/prg/sites/research.engr.oregonstate.edu.prg/files/rey_pocius.jpg">
  </div>
</header>
