<div class="project">
  <div class="project-content">
    <h2 class="project-title"> {{title}} </h2>
    <div class="project-picture-container">
      <a href="{{link}}" target="_blank">
        <img class="project-picture" src="{{source}}">
      </a>
    </div>
  </div>
</div>
