<!DOCTYPE html>
<html>
  <head>

  	<link href= "https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

	  <link href = "https://fonts.googleapis.com/css?family=Bree Serif" rel = "stylesheet">

    <!-- This is a stylesheet that includes the font you should use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <!-- This is a 3rd-party stylesheet for Font Awesome: http://fontawesome.io/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <meta charset="utf-8">
    <title>Official Site of Rey Pocius</title>
    <link rel="stylesheet" href="/style.css" media="screen">

  </head>


  <body>
    {{{body}}}
  </body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="/index.js"></script>

</html>
