<body>
<!-- main -->
  <div class="content-container">

  {{> header}}

    <aside class="sideleft">
      <div class="quote-content">
        <p class="quote-text">
          "Cody is my favorite person. He is the greatest who has ever lived and deserves all the money in the world. Whatever he does, he is the best.
          I am so glad that he is on this earth to help raise others to his level. I don't know what humanity would do without him."
        </p>
        <p class="quote-attribution">
          Rey Pocius
          <br>
          -Biggest Fan-
        </p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="quote-content">
        <p class="quote-text">
          "I never thought that anyone would be as beatiful and amazing as Cody. I am so lucky to be breathing the same air as him. I don't know how
          I am worthy enough to be in his presence, but I am forever grateful that I am. He has taught me so much and I will strive to live up to his
          glory. We are so lucky to have Cody on this earth so he can bring humanity to his glory."
        </p>
        <p class="quote-attribution">
          Jesus Christ
          <br>
          -Messiah-
        </p>
      </div>
    </aside>

    <div class="article-container">
      <article class="article">
      <div class="article-content">
        <h2 class="article-title"> About Cody </h2>
        <p class="article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
          Duis elementum lacus vitae ante accumsan, ac fermentum sapien placerat. Maecenas varius, odio quis ornare eleifend,
          felis velit ultrices ipsum, in mollis quam mi at magna. Sed pellentesque orci at fringilla dignissim.
          Sed rhoncus neque eget rutrum suscipit. Ut rhoncus placerat nunc, non dapibus urna faucibus in.
          Nulla ornare condimentum hendrerit. Mauris quis ipsum nulla. Duis gravida rhoncus nunc ut vehicula.
          Duis sit amet convallis risus. Pellentesque sagittis erat suscipit ipsum porttitor, et tristique justo facilisis.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
        </p>
      </div>
    </article>
      <article class="article">
      <div class="article-content">
        <h2 class="article-title"> About Me </h2>
        <p class="article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
          Duis elementum lacus vitae ante accumsan, ac fermentum sapien placerat. Maecenas varius, odio quis ornare eleifend,
          felis velit ultrices ipsum, in mollis quam mi at magna. Sed pellentesque orci at fringilla dignissim.
          Sed rhoncus neque eget rutrum suscipit. Ut rhoncus placerat nunc, non dapibus urna faucibus in.
          Nulla ornare condimentum hendrerit. Mauris quis ipsum nulla. Duis gravida rhoncus nunc ut vehicula.
          Duis sit amet convallis risus. Pellentesque sagittis erat suscipit ipsum porttitor, et tristique justo facilisis.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
        </p>
      </div>
    </article>
    </div>

    {{> footer}}

  </div>


  <!-- <button type="button" id="create-box-button"><i class="fa fa-bullhorn"></i></button>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="create-box-modal" class="hidden">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>Create a box</h3>
        <button type="button" class="modal-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="box-input-element">
          <label for="box-text-input">Text</label>
          <textarea id="box-text-input"></textarea>
        </div>
        <div class="box-input-element">
          <label for="box-attribution-input">Author</label>
          <input type="text" id="box-attribution-input">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="modal-cancel-button">Cancel</button>
        <button type="button" class="modal-accept-button">Create box</button>
      </div>

    </div>
  </div> -->

  <!-- footer -->

</body>
