<body>
<!-- main -->
  <div class="content-container">

  {{> header}}

    <div class="article-container">
      <article class="article">
      <div class="article-content">
        <h2 class="article-title"> Article 1 </h2>
        <p class="article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
          Duis elementum lacus vitae ante accumsan, ac fermentum sapien placerat. Maecenas varius, odio quis ornare eleifend,
          felis velit ultrices ipsum, in mollis quam mi at magna. Sed pellentesque orci at fringilla dignissim.
          Sed rhoncus neque eget rutrum suscipit. Ut rhoncus placerat nunc, non dapibus urna faucibus in.
          Nulla ornare condimentum hendrerit. Mauris quis ipsum nulla. Duis gravida rhoncus nunc ut vehicula.
          Duis sit amet convallis risus. Pellentesque sagittis erat suscipit ipsum porttitor, et tristique justo facilisis.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
        </p>
      </div>
    </article>
      <article class="article">
      <div class="article-content">
        <h2 class="article-title"> Article 2 </h2>
        <p class="article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
          Duis elementum lacus vitae ante accumsan, ac fermentum sapien placerat. Maecenas varius, odio quis ornare eleifend,
          felis velit ultrices ipsum, in mollis quam mi at magna. Sed pellentesque orci at fringilla dignissim.
          Sed rhoncus neque eget rutrum suscipit. Ut rhoncus placerat nunc, non dapibus urna faucibus in.
          Nulla ornare condimentum hendrerit. Mauris quis ipsum nulla. Duis gravida rhoncus nunc ut vehicula.
          Duis sit amet convallis risus. Pellentesque sagittis erat suscipit ipsum porttitor, et tristique justo facilisis.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
        </p>
      </div>
    </article>
    </div>

    {{> footer}}

  </div>

  <!-- footer -->

</body>
